
/*Botao de filtro de data*/
.div_botao-vencimento {
  margin-left: 0.8rem;
  display: flex;
  justify-content: start;
}
.botao_filtro-vencimento{
  font-size: 1.2rem;
  line-height: 1.25rem;
//   font-weight: 700;
  height: 2rem;
  width: 14rem;
  margin-top: 0.8rem;
  color: black;
  background-color: #f4f4f4;
  &:active {
    background-color: #0C5B14;
    box-shadow: 0px 6px 6px 0px #aad3ae inset;
    font-weight: bold;
    font-size: 1.4rem;
    color: rgb(255, 255, 255);
  }
}
@media (max-width: 1003px) {
  .botao_filtro-vencimento {
    width: 11rem;
    height: 2rem;
  }
}
@media (max-width: 900px) {
  .div_botao-vencimento {
    width: 11rem;
  }
}
@media (max-width: 840px) {
  .botao_filtro-vencimento{
    width: 9rem;
  }
}

/*Botões fora do container de visualização das tabelas */
.section_botao_importa-vendedor-cliente-titulos {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.botao_importa-titulos {
  background-color: #f4f4f4;
  font-size: 1.2rem;
  line-height: 1.25rem;
//   font-weight: 700;
  width: 13rem;
  height: 2rem;
  color: black;
  margin-left: 4rem;
  &:active {
    background-color: #0C5B14;
    box-shadow: 0px 6px 6px 0px #aad3ae inset;
    font-weight: bold;
    font-size: 1.4rem;
    color: rgb(255, 255, 255);
  }
}

.botao_vendedor {
  background-color: #f4f4f4;
  font-size: 1.2rem;
  line-height: 1.25rem;
//   font-weight: 700;
  width: 13rem;
  height: 2rem;
  color: black;
  &:active {
    background-color: #0C5B14;
    box-shadow: 0px 6px 6px 0px #aad3ae inset;
    font-weight: bold;
    font-size: 1.4rem;
    color: rgb(255, 255, 255);
  }

}
.botao_cliente{
  background-color: #f4f4f4;
  font-size: 1.2rem;
  line-height: 1.25rem;
//   font-weight: 700;
  width: 13rem;
  height: 2rem;
  color: black;
  &:active {
    background-color: #0C5B14;
    box-shadow: 0px 6px 6px 0px #aad3ae inset;
    font-weight: bold;
    font-size: 1.4rem;
    color: rgb(255, 255, 255);
  }

}

.botao_titulo{
  background-color: #f4f4f4;
  font-size: 1.2rem;
  line-height: 1.25rem;
//   font-weight: 700;
  width: 13rem;
  height: 2rem;
  color: black;
  margin-right: 4rem;
  &:active {
    background-color: #0C5B14;
    box-shadow: 0px 6px 6px 0px #aad3ae inset;
    font-weight: bold;
    font-size: 1.4rem;
    color: rgb(255, 255, 255);
  }
}
@media (max-width: 1003px) {
  .botao_importa-titulos, .botao_vendedor, .botao_cliente, .botao_titulo {
  width: 12rem;
  }
}
@media (max-width: 930px) {
  .botao_importa-titulos, .botao_vendedor, .botao_cliente, .botao_titulo {
  width: 10rem;
  }
}